{% extends 'base.html.twig' %}
{% block body %}
<div style="margin: 30px;">
 {{form_start(form)}}
    {{form_row(form.nom)}}
    {{form_row(form.submit)}}
 {{form_end(form)}}

 </div>
{% endblock %}

