{% extends 'base.html.twig' %}
{% block body %}
<div style="margin: 30px;">

 <div class="alert alert-info" role="alert">
  Cette utilisateur est actuellement un utlisateur {</div>

 </div>
{% endblock %}

